.main-container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.input-container {
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2em;
    width: 80%;
    max-width: 60em;
    height: 4em;
    padding: 0 1em;
    gap: 1em;
    background-color: white;
}

input {
    width: 100%;
    height: 60%;
    font-size: 1.2em;
    border: none;
}

textarea:focus,
input:focus {
    outline: none;
}

@media screen and (max-width: 450px) {
    .input-container {
        width: 100%;
    }
}