.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 600;
    gap: 0.5em;
    padding: 1em;
    text-align: center;
}

img {
    width: 1.5em;
    height: 1.5em;
}

@media screen and (max-width: 590px) {
    .header-container {
        font-size: 2em;
    }

    img {
        width: 2em;
        height: 2em;
    }
}