.emoji-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: white;
    gap: 1em;
    padding: 1.2em 1em;
    border-radius: 0.5em;
    width: 8em;
    box-sizing: border-box;
    cursor: pointer;
}

.emoji-card:hover {
    background-color: #183153;
    color: white;
}

.emoji-card:active {
    background-color: white;
    color: #183153;
}

.emoji {
    font-size: 3em;
}

.title {
    display: flex;
    align-self: center;
    font-size: 1em;
}