@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #F0F1F3;
  color: #183153;
  width: 100vw;
  font-family: 'Noto Color Emoji', sans-serif;
  overflow-x: hidden;
}